@model IEnumerable<FoodWatch.Models.Food.FoodListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="food-header-index">Food</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="food-board">
    @foreach (var item in Model)
    {
        <div class="card-container col-md-3 col-sm-6">
            <div class="food-card">
                <div class="food-head text-center">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="food-body text-center">
                    <p>@Html.DisplayFor(modelItem => item.Recipe)</p>
                    <div class="recipe-tools">
                        @Html.ActionLink("Edit", "Edit", new { id = item.FoodId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.FoodId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.FoodId })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FoodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.FoodId }) |
            @Html.ActionLink("Details", "Details", new { id = item.FoodId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.FoodId })
        </td>
    </tr>
}

</table>*@
